{% extends 'base.html' %}
{% block css %}
<style>
    
</style>
{% endblock %}

{% block content %}
<div style="display:flex; align-items: center; justify-content: center; flex-direction: column;">
    <div style="display: flex; justify-content: center; flex-direction: column;">
        <div style="width: 100%;">
            <h2>{{place.name}}</h2>
        </div>
        <div>
            <img src="{{place.photo.url}}" class="img-fluid" alt="...">
        </div>
        <div style="display: flex; justify-content:left; margin-top: 10px;">
            <div class="card" style="width: 25rem; height: 15rem;">
                <div class="card-body">
                    <h5 class="card-title">Авиабилет</h5>
                    <h3>Туда - Обратно</h3>
                    <p class="card-text">Almaty --> {{place.name}}</p>
                    <button type="button" class="btn btn-primary">{{place.flight_cost}} тг</button>
                </div>
                
            </div>
            <div class="card" style="width: 18rem; margin-left: 20px;">
                <img src="{{hotel.photo1.url}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{hotel.title}}</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                        content.</p>
                    <a href="#" class="btn btn-primary">{{hotel.night_cost}} тг</a>
                </div>
            </div>
        </div>
        <h3>Развлечения</h3>
        <div style="display: flex; justify-content: left; margin-top: 10px;" >
            {% for e in entertaiments %}
                <!-- <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{e.title}}</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                                    content. This content is a little bit longer.</p>
                                <button type="button" class="btn btn-primary">{{e.cost}}</button>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <img style="width: 100%;" src="{{e.photo.url}}" alt="...">
                        </div>
                    </div>
                </div> -->
                <div class="card" style="width: 18rem; margin-left: 20px;">
                    <img src="{{e.photo.url}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{e.title}}</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                            content.</p>
                        <a href="#" class="btn btn-primary">{{e.cost}} тг</a>
                    </div>
                </div>
            
            {% endfor %}
        </div>
        <h2>Итого: {{total_cost}} тг</h2>
    </div>
</div>


{% endblock %}